DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME
FRED_API_KEY=
CRON_SECRET=
GOOGLE_ADSENSE_PUBLISHER_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
SENTRY_DSN=
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=
POSTHOG_KEY=
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
